.gry{
    margin-top: 3%;
    margin-left: 36%;
    margin-right: 36%;
}

.k11{
    text-align: center;
    text-decoration-color: black;
    margin-top: 0%;
    font-size: 90%;
    font-style: normal;
}

.k2{
    text-align: left;
    margin-top: -3%;
    margin-left: 10.5%;
    margin-right: 10.5%;
    background-color: white;
    margin-bottom: 5%;
}

.k3{
    background-color: black;
}

.k41{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}