.gry{
    margin-top: 3%;
    margin-left: 36%;
    margin-right: 36%;
}

.k1{
    text-align: center;
    text-decoration-color: black;
    margin-top: 0%;
    font-size: 110%;
}

.k2{
    text-align: left;
    margin-top: -3%;
    margin-left: 10.5%;
    margin-right: 10.5%;
    background-color: white;
}

.k2{
    text-align: left;
    margin-top: -3%;
    margin-left: 10.5%;
    margin-right: 10.5%;
    background-color: white;
}