.gry{
    margin-top: 3%;
    margin-left: 36%;
    margin-right: 36%;
}

.k1{
    text-align: center;
    text-decoration-color: black;
    margin-top: 0%;
    font-size: 110%;
}

.k2{
    text-align: left;
    margin-top: -3%;
    margin-left: 10.5%;
    margin-right: 10.5%;
    background-color: white;
}

.k3{
    font-style: italic;
    background-color: #1E7E44;
    border-color:  #1E7E44;
    border-right: #1E7E44;
    border-bottom: #1E7E44;
    margin-top: 6%;
    font-size: 110%;
    margin-bottom: 16%;
    width: 78.5%;
    padding-top: 1.7%;
    padding-bottom: 1.7%;
}

.k4{
    margin-top: -10%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 120%;
    color: #000000da;
    margin-bottom: 15%;
}

.k5{
    font-size: 90%;
    text-decoration: none;
    color: black;
    font-style: italic;
}

.k6{
    text-align: center;
    margin-top: -14%;
}

.k7{
    text-align: center;
    margin-top: 9%;
    padding-bottom: 8.5%;
}

.k8{
    text-decoration-color: blue;
    color: blue;
    font-size: small;
}