.gry{
    margin-top: 3%;
    margin-left: 36%;
    margin-right: 36%;
}

.k11{
    text-align: center;
}

.k21{
    text-align: center;
    margin-top: 13%;
    margin-left: 10.5%;
    margin-right: 10.5%;
    font-style: oblique;
}

.k31{
    text-align: center;
    margin-top: 11%;
    padding-bottom: 62%;
}

.k4{
    text-decoration-color: blue;
    color: blue;
    font-size: small;
}