.gry{
    margin-top: 3%;
    margin-left: 36%;
    margin-right: 36%;
}

.k1{
    text-align: left;
    margin-left: 10.6%;
    text-decoration-color: black;
    font-size: 70%;
    padding-top: 3%;
}

.k2{
    text-align: left;
    margin-top: -2%;
    margin-left: 10.6%;
    margin-right: 10.5%;
    background-color: white;
}

.k3{
    text-align: left;
    margin-top: 4%;
    margin-left: 10.%;
    font-size: 70%;
    background-color: #D9D9D9;
    font-style: normal;
    margin-bottom: -57%;
}

.k4{
    text-align: left;
    margin-top: -2.5%;
    margin-left: 10.5%;
    margin-right: 10.5%;
    background-color: white;
    border-color: #000000;
    margin-bottom: -9%;
}

.k5{
    margin-left: 10.5%;
    padding-top: 2%;
    padding-bottom: 3%;
    margin-top: 3%;
}

.k9{
    padding-top: 50%;
}

.k71{
    margin-top: -7%;
    margin-left: 5%;
    margin-right: 5%;
}

.k61{
    padding: 5%;
    padding-top: 9%;
    margin: -3%;
    font-size: 130%;
    font-style: italic;
}

.k81{
    text-align: center;
    padding-bottom: 1%;
}