.gry{
    margin-top: 3%;
    margin-left: 36%;
    margin-right: 36%;
}

.k1{
    text-align: left;
    margin-left: 10.6%;
    text-decoration-color: black;
}

.k2{
    text-align: left;
    margin-top: -2%;
    margin-left: 10.6%;
    margin-right: 10.5%;
    background-color: white;
}

.k3{
    margin-top: 4%;
    margin-left: 10.5%;
}

.k4{
    margin-top: -3%;
    background-color: white;
    margin-left: 10.5%;
    margin-right: 10.5%;
}

.k51{
    margin-top: 14%;
    margin-left: 10.7%;
}

.k61{
    margin-left: 5.5%;
    margin-right: 5.5%;
    margin-top: -10%;
    color: white;
}

.k7{
    font-style: italic;
    background-color: #1E7E44;
    border-radius: 10%;
    border-top: #1E7E44;
    border-left: #1E7E44;
    border-bottom: #1E7E44;
    border-right: #1E7E44;
    font-size: 130%;
    margin-top: 10%;
    margin-bottom: 13%;
    width: 23%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    color: black;
}

.k8{
    margin-bottom: -10%;
}

.k9{
    font-size: 120%;
    margin-top: -7%;
    text-align: center;
    padding-bottom: 3%;
}
